<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom mb-3">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav mr-auto">
        <li routerLinkActive="active">
          <a routerLink="/recipe" 
            class="nav-link">
            Recipes
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/shopping-list" 
            class="nav-link">
            Shopping list
          </a>
        </li>        
      </ul>
      <ul class="nav navbar-nav" ngbDropdown>
        <li class="nav-item">
          <a href="#" class="nav-link" role="button" ngbDropdownToggle>
            Manage
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <li><a href="#">Save Data</a></li>
            <li><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
